<div class='tab'>

  <div class='panel'>

    <div layout='row' layout-align='start center'>
        <md-subheader class="md-primary" flex><h2 class='title'>Images</h2></md-subheader>
        <md-button class='order-button md-icon-button' ng-click='b.filterImages()'><i class="material-icons md-24 md-dark">sort_by_alpha</i></md-button>
    </div>

    <!-- the tile list of files  -->
    <div class='tile-list'>

      <!-- the files -->
      <div class=    'file'
           ng-repeat='file in b.collection.images'>

        <md-button class='tile' ng-style='{"background-image": "url({{file.thumburl}})"}' ng-click='b.action(file, "open")'>

          <md-button class='menu' ng-click='action = !action; b.noProp()'>
            <i class="material-icons md-light">more_horiz</i>
          </md-button>

          <div class="actions" ng-show='action'>
            <div class='overlay' ng-click='action = !action; b.noProp()'></div>
            <md-button class="action md-icon-button" ng-click='action = !action; b.download(file)'>
              <i class="material-icons  md-light">file_download</i>
            </md-button>
            <md-button class="action md-icon-button" ng-click='action = !action; b.action(file, "fullscreen")'>
              <i class="material-icons md-light">fullscreen</i>
            </md-button>
            <md-button class="action md-icon-button" ng-click='action = !action; b.delete(file)'>
              <i class="material-icons md-light">delete</i>
            </md-button>
          </div>

        </md-button>

        <div class='text-dark text-16'layout='row' layout-align='start center'>{{file.title}}</div>

      </div>

      <!-- these mock files fill out the rest of the tile list -->
      <div class="mock-file"></div><div class="mock-file"></div>
      <div class="mock-file"></div><div class="mock-file"></div>
      <div class="mock-file"></div>

    </div>

  </div>

</div>
